* {
	text-align: center;
}

/* ---- Small (Phone) 375px ------ */
@media only screen and (min-width: 375px) and (min-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ---- Medium (Tablet) 768px x 1024px ---- */
@media only screen and (min-width: 375px) and (min-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ---- Large (Desktop) 1440px --- */
h2 {
	font-family: Antonio Medium;
	font-size: 40px;
	letter-spacing: -1.5px;
	text-transform: uppercase;
	color: white;
}

section.quick-fact-container {
	display: flex;
	justify-content: space-around;
	margin: 0% 12.5%;
}
main {
	display: flex;
	justify-content: space-between;
	margin: 0% 12.5%;
}

section {
	margin: 1em;
}
section.image-container {
	width: 64%;
	display: flex;
	align-items: center;
	justify-content: center;
}
section.content-container {
	width: 33%;
}
.image-container img {
	max-height: 500px;
}
