/* ---- Large (Desktop) 1440px --- */
h1 {
	font-family: "Antonio", sans-serif;
	font-size: 80px;
	margin: 0;
}

h2 {
	font-family: "Antonio", sans-serif;
	font-size: 40px;
	letter-spacing: -1.5px;
	text-transform: uppercase;
	color: white;
}

main {
	display: flex;
	justify-content: space-between;
	margin: 5% 12.5%;
}

section {
	margin: 1em;
}

section.image-container {
	width: 64%;
	display: flex;
	align-items: center;
	justify-content: center;
}

section.content-container {
	width: 33%;
	text-align: left;
}

.image-container img {
	max-height: 500px;
}

.content {
	text-align: left;
}

.source {
	margin: 15px 0px;
	text-align: left;
}

.source a {
	margin: 5px;
}

section.quick-fact-container {
	display: flex;
	justify-content: space-around;
	margin: 0% 12.5%;
}

/* ---- Small (Phone) 375px ------ */
/* only screen and (max-width: 767px) */
@media (min-width: 375px) and (max-width: 767px) {
	* {
		color: red;
	}
	div.content {
		color: red;
	}
}

/* ---- Medium (Tablet) 768px x 1024px ---- */
@media (min-width: 768px) and (max-width: 900px) {
	main {
		flex-direction: column;
		margin: 5% 5%;
	}
	* {
		color: blue;
	}
}
