:root {
	/* color variables */

	/* planets */
	--Mecury-active: #419ebb;
	--Venus-active: #eda249;
	--Earth-active: #6f2ed6;
	--Mars-active: #d14c32;
	--Jupiter-active: #d83a34;
	--Saturn-active: #cd5120;
	--Uranus-active: #1ec2a4;
	--Neptune-active: #2d68f0;

	/* basic colors */
	--white: #ffffff;
	--black-blue: #070724;
	--dark-grey: #38384f;
	--light-grey: #838391;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #070724;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	min-width: 320px;
	min-height: 100vh;
}

h2 {
	font-family: "Antonio", sans-serif;
	font-size: 40px;
	letter-spacing: -1.5px;
	text-transform: uppercase;
	color: white;
}
