/* ---- Large (Desktop) 1440px --- */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	border-bottom: solid #838391 1px;
}

a {
	color: #FFF;
	font-size: 0.6875rem;
	font-weight: 700;
	line-height: 1.5625rem; 
	margin: 0px 20px;
	text-decoration:none;
	letter-spacing: 0.0625rem;
	text-transform: uppercase;
}

.active {
	border-bottom: solid red 2px;
}

ul.page-link-container {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	list-style-type: none
}

.logo {
	padding: 20px 40px;
	margin: 0;
}
/* ---- Small (Phone) 375px ------ */
@media only screen and (min-width: 375px) and (min-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ---- Medium (Tablet) 768px x 1024px ---- */
@media only screen and (min-width: 768px) and (max-width: 900px) {
	nav {
		flex-direction: column;
		height: 200px;
	}

	.page-link-container {
		padding: 10px 0px;
	}

	h4 {
		font-size: 15px;
	}
}
