/* ---- Small (Phone) 375px ------ */
@media only screen and (min-width: 375px) and (min-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ---- Medium (Tablet) 768px x 1024px ---- */
@media only screen and (min-width: 375px) and (min-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* ---- Large (Desktop) 1440px --- */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	width: 100vw;
	border-bottom: solid #838391 1px;
}

h4 {
	font-size: 11px;
	color: #838391;
	text-transform: uppercase;
	margin: 0px 20px;
}

.page-link-container {
	display: flex;
	justify-content: space-between;
	width: fit-content;
}

.logo {
	padding: 20px;
}
